<!DOCTYPE html>
<html lang="sv" class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>

    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}
    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}">
    {% endif %}

    {# Favicon #}
    <link rel="icon" href="{{ theme_url }}/../shared/img/favicon.ico">

    {#    #}{# Google Fonts #}
    {#    <link rel="preconnect" href="https://fonts.googleapis.com"> #}
    {#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> #}
    {#    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap" #}
    {#          rel="stylesheet"> #}

    {# TypeKit Fonts #}
    <link rel="stylesheet" href="https://use.typekit.net/ghi7qsn.css">

    {# CSS Styles #}
    <link rel="stylesheet" href="{{ theme_url }}/css/style.min.css" type="text/css">
</head>
