<!DOCTYPE html>
<html lang="sv" class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="En webbplats skapad för kursen Design_V3 vid BTH vintern
    2022.">
    <meta name="keywords" content="HTML, Pico, CMS, CSS, SASS, JavaScript, Design, Kurs, BTH" />
    <meta name="author" content="Daniel Andersson">
    <meta name="copyright" content="MIT License" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}

    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}">
    {% endif %}

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>

    {# --- FAVICON --- #}
    <link rel="icon" href="{{ theme_url }}/../shared/img/favicon_d1.ico">

    {# --- TypeKit FONTS --- #}
    <link rel="stylesheet" href="https://use.typekit.net/ghi7qsn.css">
    <link rel="stylesheet" href="https://use.typekit.net/lxg6ryd.css">

    {# --- CSS Styles --- #}
    {% if config.session.theme == "dark" %}
        <link rel="stylesheet" href="{{ theme_url }}/css/style-dark.min.css" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{ theme_url }}/css/style.min.css" type="text/css" />
    {% endif %}
</head>

{# --- HEADER --- #}
<header class="header">
    <div class="container__header" role="banner">

        {# --- LOGO --- #}
        {% if pages["_meta"].meta.logo %}
            <div class="logo">
                <a class="link" href="{{ base_url }}">
                    <img class="img" src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}"
                         alt="Logo image"/>
                </a>
            </div>
        {% endif %}

        {# --- TITLE --- #}
        <div class="title_tagline" {{ pages["_meta"].meta.tagline ? ' class="tagline"' }}>
            <h1 class="title">{{ site_title }}</h1>
            <a class="tagline_link tagline link" href="{{ base_url }}">
                {{ pages["_meta"].meta.tagline|markdown }}
            </a>
        </div>

        {# --- MENU TOGGLE / HAMBURGER MENU --- #}
        <a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav"
           aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true" id="toggler"></i>
            <span class="sr-only">Toggle Menu</span>
        </a>
    </div>

    {% include 'incl/nav.twig' %}
</header>
