{# --- NAVIGATION --- #}
<div class="nav">
    <nav id="nav" class="nav-menu" role="navigation" tabindex="-1">
        <ul>
            {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                <li class="">

                    {# --- SELECTED PAGE --- #}
                    {% if page.id==current_page.id %}
                        {% if page.meta.icon %}
                            <a class="nav__link--active" href="{{ page.url }}">
                                <i class="nav__linkIcon--active {{ page.meta.icon }}"></i>
                                <p class="nav__linkText--active">{{ page.title }}</p>
                            </a>
                        {% else %}
                            <a class="nav__link--active" href="{{ page.url }}">
                                <p class="nav__link--textActive">{{ page.title }}</p>
                            </a>
                        {% endif %}

                    {# --- THE OTHER PAGEs --- #}
                    {% else %}
                        {% if page.meta.icon %}
                            <a class="nav__link" href="{{ page.url }}">
                                <i class="nav__link--icon {{ page.meta.icon }}"></i>
                                <p class="nav__link--text">{{ page.title }}</p>
                            </a>
                        {% else %}
                            <a class="nav__link" href="{{ page.url }}">
                                <p class="nav__link--text">{{ page.title }}</p>
                            </a>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>

{#    <a href="#toggler" id="nav-backdrop" class="backdrop nav-toggle" hidden tabindex="-1"></a>#}
{#    <a href="#nav-toggle" id="nav-backdrop" class="backdrop"></a>#}
</div>
